
*, 
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    /* border: 3px solid plum; */
    font-weight: 300;
    font-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
}

.super {
    width: 64.5em;
    margin: 0 auto;
}

.overlay {
    height: 100%;
    width: 0%;
    position: fixed; 
    z-index: 1; 
    top: 0;
    right: 0;
    background-color: #f0eff1;
    overflow-x: hidden; 
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 20%; 
    width: 100%;
    text-align: center; 
    margin-top: 1rem;
}

.overlay a {
    padding: 0.6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-size: 1.1rem;
    line-height: 1.8rem;
    color: black;
    display: block; 
    transition: 0.3s; 
}

.open {
    display: flex;
    justify-content: right;
    align-items: center;
}

.closebtn, .openbtn {
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 1.3rem;
    color: black;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    font-size: 32px;
}

.desktop {
    display: none;
}

.slideshow-container {
    /* border: 3px solid blue; */
    padding: 0 1em 0 1em;
}

.selection {
    /* border: 3px solid red; */
    font-size: 20px;
    font-weight: 400;
    padding: 1em 0 1em 1em;
}

.container {
    /* border: 3px solid honeydew; */
    font-size: 1em;
    font-weight: 400;
    opacity: 0.8;
    margin-top: 1em;
    line-height: 1.6em;
}

.selection.about {
    margin-top: 0;
}

.container.about {
    margin-top: 3em;
}

.position {
    /* border: 3px solid black; */
    padding: 1em 1em;
}

.position p:last-child {
    text-align: right;
    margin-top: 2rem;
}

.italic {
    font-size: 0.937em; 
    font-style: italic;
}

.dots {
  text-align: center;
  margin: 0.6rem 1.6rem;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.list {
    list-style-type: none;
    font-size: 1rem;
}

.list li::before {
    content: "\2022";
    color: #888;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: 2em;
}  

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from { opacity: 0.4 } 
    to { opacity: 1 }
}

table {
    border-collapse: collapse;  
    margin-left: 0px;
}

td {
    font-size: 1rem;
    padding: 5px 18px 5px 18px; 
    border-bottom: 1px solid #ccc; 
    line-height: 1.2em;
}

article:last-child {
    margin-bottom: 1em;
}

.foot {
    /* border: 3px solid lightgreen; */
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: .5em 0 2em 0;
}

.activation, .dot:hover {
    box-shadow: 0 0 2px 1px black;
}

@media only screen and (orientation: landscape) {

    .overlay-content {
        top: 0;
    }

    .container.about {
        margin-top: 0;
    }

}

@media only screen and (min-width: 64.5em) {

    .overlay, .openbtn { 
        display: none;
    }

    .desktop {
        display: block;
        font-family: 'Inter', sans-serif;
    }

    .header {
        padding: 40px 0;
    }

    .nav-wrap {
        padding: 0 1em;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        list-style: none;
        padding-right: 24px;
    }

    .nav li:not(:last-child) {
        margin-right: 24px;
    }

    .nav__link {
        position: relative;
    }

    .nav__link {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        white-space: nowrap;
    }

    .nav a {
        text-decoration: none;
        font-size: 17px;
	    line-height: 1.5;
    }

    a {
        color: inherit;
        background-color: transparent;
    }

    .nav__link::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: -2px;
        background-color: transparent;
        width: 0;
    }

    .nav__link--current::after {
        background-color: #780dbe;
    }

    a:hover::after { 
      width: 100%; 
    }

    a.reactive::after {
        width: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .selection.about {
        margin-top: 2em;
    }

    .container.about {
        margin-top: 2em;
    }

    .logo span {
        position: relative;
        top: 29px;
        left: 20px;
        font-family: 'Dancing Script', serif;
        font-size: 2.5em;
        color: #8b19d7;
        cursor: pointer;
        letter-spacing: 2px;
    }

    .logo span a {
        text-decoration: none;
    }

    /* .active, .dot:hover {
        box-shadow: 0 0 2px 1px black;
    } */
}